@model TbSetting

    <span>
        <a href="#">
            <i class='bx bx-mobile'></i> @Model.MainPhone
        </a>
    </span>
    <span>
        <a href="#">
            <i class='bx bx-location-plus'></i> @Model.Address
        </a>
    </span>